name: Basic tests with YugabyteDB build

on:
  workflow_dispatch:
    inputs:
      yb_version:
        description: "YugabyteDB version to run tests against (build should be present in internal Quay registry)"
        required: false
        type: string
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  YB_DOCKER_IMAGE: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.yb_version != '' && github.event.inputs.yb_version || secrets.YB_DOCKER_IMAGE }}

jobs:
  build:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_BOT_USERNAME }}
          password: ${{ secrets.QUAY_BOT_TOKEN }}
      - name: Log YugabyteDB version
        run: echo YugabyteDB version being used $YB_DOCKER_IMAGE
      - name: Pull docker image
        run: docker pull $YB_DOCKER_IMAGE
      - name: YugabyteDBDatatypesTest
        run: mvn clean test -Dtest=YugabyteDBDatatypesTest
      - name: YugabyteDBTabletSplitTest
        run: mvn clean test -Dtest=YugabyteDBTabletSplitTest
      - name: YugabyteDBEnumValuesTest
        run: mvn clean test -Dtest=YugabyteDBEnumValuesTest
      - name: YugabyteDBSnapshotTest
        run: mvn clean test -Dtest=YugabyteDBSnapshotTest
