name: Sanity Test

on:
  push:
    branches:
      - main
      - 1.7  
  pull_request:
    branches:
      - main
      - 1.7

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: yugabyte+cdcsdk_server_bot
          password: ${{ secrets.QUAY_BOT_TOKEN }}
      - name: Pull docker image
        env:
          YB_DOCKER_IMAGE: ${{ secrets.YB_DOCKER_IMAGE }}
        run: docker pull $YB_DOCKER_IMAGE
      - name: Sanity Test that code compiles and tests pass.
        run: mvn clean test
